{% extends 'admin/base.html.twig' %}
{% import 'macros/_links.html.twig' as links %}

{% block h1 %}
	{{ role }}
{% endblock %}
{% block cardActions %}
	<div>
		{{ links.add('admin_user_new') }}
	</div>
{% endblock %}
{% block body %}
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Email</th>
				<th>Name</th>
				{% if role == 'Student' %}
					<th>Birthday</th>
					<th>Country</th>
					<th>Number</th>
					<th>ReferredBy</th>
					<th>IGeniusUserID</th>
					<th>NameOfEnroller</th>
				{% endif %}
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.name }}</td>
					{% if role == 'Student' %}
						<td>{{ user.birthday ? user.birthday|date('Y-m-d') : '' }}</td>
						<td>{{ user.country }}</td>
						<td>{{ user.number }}</td>
						<td>{{ user.referredBy }}</td>
						<td>{{ user.iGeniusUserID }}</td>
						<td>{{ user.nameOfEnroller }}</td>
					{% endif %}
					<td>
						{{ links.showEdit('admin_user', user.id)}}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="12">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
