<section id="free-course" class="text-center fullpage">
	<video autoplay muted loop id="background-video">
		<source src="/videos/candlesticks.mp4" type="video/mp4">
		Your browser does not support the video tag.
	</video>
	<div class="overlay"></div>
	<div class="container">
		<h2>{{"Begin Learning For"|trans }}
			<span class="text-green">{{"Free"|trans }}</span>
		</h2>
		<p>
			{{"Become a part of Mission Eminence and take the first step toward mastering Forex and Crypto trading with our free course! Designed for beginners, this course will provide you with the essential knowledge to confidently enter the markets. Register now and unlock the foundational skills to start your trading journey!"|trans }}
		</p>
		<a href="{{ path('app_register') }}" class="cta">
			{{"REGISTER FOR THE FREE COURSE"|trans }}
		</a>
	</div>
	<!-- .container -->
</section>
<!-- #free-course -->
