<section id="services" class="fullpage">
	<div class="container-fluid">
		<h2>{{ "Services"|trans }}</h2>
		<div class="row">
			<div class="col-lg-2 offset-lg-1 mb-3">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">{{"Education"|trans }}</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body">
						<p>
							{{"Learn to master financial markets with our online university. From building wealth to protecting it, we teach trading strategies in forex, crypto, and equity markets—equipping you to succeed in finance."|trans }}
						</p>
					</div>
					<!--- /.card-body -->
				</div>
				<!-- /.card -->
			</div>
			<!-- /.col-lg-2 -->
			<div class="col-lg-2 offset-lg-6 mb-3">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">{{"ARTIFICIAL INTELLIGENCE"|trans }}</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body">
						<p>
							{{"Experience crypto investing with our AI tool that connects directly to your wallet, automatically analyzing and executing trades— let smart algorithms work for you, optimizing every opportunity."|trans }}
						</p>
					</div>
					<!--- /.card-body -->
				</div>
				<!-- /.card -->
			</div>
			<!-- /.col-6 -->
			<div class="col-lg-2 offset-lg-1 mb-3">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">{{"Alerts"|trans }}</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body">
						<p>
							{{"Access expert research and real-time alerts to keep you informed in forex, crypto, and equity markets. Our service delivers in-depth analysis, market trends, and actionable insights, empowering you to make more strategic trading decisions."|trans }}
						</p>
					</div>
					<!--- /.card-body -->
				</div>
				<!-- /.card -->
			</div>
			<!-- /.col-6 -->
			<div class="col-lg-2 offset-lg-6 mb-3">
				<div class="card">
					<div class="card-header">
						<h3 class="card-title">{{"TRAVEL PLATFORM"|trans }}</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body">
						<p>
							{{"Enjoy exclusive access to a travel booking platform that finds the best deals, plus receive a free annual vacation and a complimentary cruise for two each year."|trans }}
						</p>
					</div>
					<!--- /.card-body -->
				</div>
				<!-- /.card -->
			</div>
			<!-- /.col-6 -->
		</div>
		<!-- .row -->
	</div>
	<!-- /.container-fluid -->
</section>
<!-- /#services -->
