{% trans_default_domain 'admin' %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="light">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				{{ block('h1')|striptags }}
				-
				{{ 'Mission Eminence'|trans }}
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('admin') }}
		{% endblock %}
		{% block javascripts %}
		{{ encore_entry_script_tags('admin') }}
		{# {% block importmap %}{{ importmap('app') }}{% endblock %} #}{% endblock %}
	</head>
	<body>
		{% block header %}
			{% include 'admin/partial/_nav.html.twig' %}
		{% endblock %}
		<div class="container-fluid">
			<div class="row">
				{% include 'admin/partial/_sidebar.html.twig' %}
				<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="min-height: calc(100vh - 98.766px);">
					{% block main %}
					{# Flash Messages #}
						{% for label, messages in app.flashes %}
							{% for message in messages %}
								<div class="alert alert-{{ label == 'error' ? 'danger' : label }} alert-dismissible fade show mt-3" role="alert">
									{{ message }}
									<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
								</div>
							{% endfor %}
						{% endfor %}
						<div class="card mt-3">
							<div class="card-header d-flex">
								<h1 class="card-title mb-0">
									{% block h1 %}{% endblock %}
								</h1>
								<div class="ms-auto card-actions">
									<div>
										<div class="btn-group btn-group-sm">
											{% block cardActions %}{% endblock %}
										</div>
										<!-- .btn-group -->
									</div>
								</div>
								<!-- .card-actions -->
							</div>
							<!-- .card-header -->
							{% block cardBody %}
								<div class="card-body">
									{% block body %}{% endblock %}
								</div>
								<!-- .card-body -->
							{% endblock %}
						</div>
						<!-- .card -->
					{% endblock %}
				</main>
			</div>
		</div>
		{% block footer %}
			{# TODO: Footer ?? #}
		{% endblock %}
	</body>
</html>
