{% extends 'admin/base.html.twig' %}
{% import 'macros/_links.html.twig' as links %}

{% block h1 %}Testimonial
{% endblock %}
{% block cardActions %}
		{{ links.add('admin_testimonial_new') }}
{% endblock %}
{% block body %}
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>Testimonial</th>
					<th>Alt</th>
					<th>CreatedAt</th>
					<th>UpdatedAt</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for testimonial in testimonials %}
					<tr>
						<td>
							<figure>
								<img src="{{ vich_uploader_asset(testimonial) }}" alt="{{ testimonial.alt }}" height="150"/>
								<figcaption>
									{{ testimonial.testimonial }}
								</figcaption>
							</figure>
						</td>
						<td>{{ testimonial.alt }}</td>
						<td>{{ testimonial.createdAt ? testimonial.createdAt|date : '' }}</td>
						<td>{{ testimonial.updatedAt ? testimonial.updatedAt|date : '' }}</td>
						<td>
							{{ links.showEdit('admin_testimonial', testimonial.id)}}
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="5">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<!-- .table-responsive -->

{% endblock %}
