{% extends 'admin/base.html.twig' %}
{% import 'macros/_links.html.twig' as links %}

{% block h1 %}Testimonial
{% endblock %}
{% block cardActions %}
	{{ links.back('admin_testimonial_index') }}
	{{ links.edit('admin_testimonial_edit', testimonial.id) }}
	{{ include('admin/testimonial/_delete_form.html.twig') }}
{% endblock %}
{% block body %}
	<figure>
		<img src="{{ vich_uploader_asset(testimonial) }}" alt="{{ testimonial.alt}}" class="img-fluid"/>
		<figcaption>
			{{ testimonial.alt }}
		</figcaption>
	</figure>
	<table class="table">
		<tbody>
			<tr>
				<th>CreatedAt</th>
				<td>{{ testimonial.createdAt ? testimonial.createdAt|date : '' }}</td>
			</tr>
			<tr>
				<th>UpdatedAt</th>
				<td>{{ testimonial.updatedAt ? testimonial.updatedAt|date : '' }}</td>
			</tr>
		</tbody>
	</table>

{% endblock %}
