<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand me-5" href="{{ path('student_home') }}">
			<img src="{{ asset('logo.png') }}" alt="Logo" width="232.9" height="auto">
		</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<div
				class="navbar-nav d-flex ms-auto">
				{# Bootstrap dropdown user menu for symfony 6 and twig #}
				<div class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="userMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						{{ app.user.name|default('') }}
					</a>
					<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenu">
						{% if is_granted('ROLE_ADMIN') %}
							<li>
								<a class="dropdown-item" href="{{ path('admin_home') }}">
									{{ "Admin Dashboard"|trans }}
								</a>
							</li>
						{% endif %}
						{% if is_granted('ROLE_STUDENT') %}
							<li>
								<a class="dropdown-item" href="{{ path('student_home') }}">
									{{ "Student Dashboard"|trans }}
								</a>
							</li>
						{% endif %}
						<li>
							<a class="dropdown-item" href="{{ path('app_logout') }}">{{ "Logout"|trans }}</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>
