<nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-dark text-white sidebar collapse fs-5">
	<div class="position-sticky">
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link active text-white" href="{{ path('student_home') }}">
					{{"Dashboard"|trans}}
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-white" href="{{ path('student_course_index')}}">
					{{"Courses"|trans}}
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-white" href="{{ path('student_partnership_index') }}">
					{{"Partnership"|trans}}
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-white" href="{{ path('student_mmm_index') }}">
					{{"MMM"|trans}}
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link text-white" href="{{ path('student_calendar_index') }}">
					{{"Calendar"|trans}}
				</a>
			</li>
		</ul>
	</div>
</nav>
