<nav class="navbar navbar-expand-lg navbar-dark ">
	<div class="container-fluid">
		<a class="navbar-brand me-5" href="{{ path('app_home') }}">
			<img src="{{ asset('logo.png') }}" alt="Logo" height="auto">
		</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav mx-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_home') }}#services">{{ "Services"|trans }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_home') }}#free-course">{{ "Free Course"|trans }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_home') }}#testimonials">{{"Testimonials"|trans }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_home') }}#our-partners">{{"Partners"|trans }}</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="bi bi-globe fs-5"></i>
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'_locale': 'en'})) }}">{{"English"|trans }}</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'_locale': 'ar'})) }}">{{"Arabic"|trans }}</a>
						</li>
						<li>
							<a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'_locale': 'ru'})) }}">{{"Russian"|trans }}</a>
						</li>
					</ul>
				</li>
			</ul>

			<div class="d-flex ms-5">
				<div style="position: relative;">
					{% if app.user %}
						{# <a href="{{ path('app_login') }}" class=" btn btn-eminence"></a> #}
						<a class="nav-link dropdown-toggle btn btn-eminence" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							{{ app.user.name }}
						</a>
						<ul class="dropdown-menu" aria-labelledby="userDropdown">
							<li>
								<a class="dropdown-item" href="{{ path(is_granted('ROLE_ADMIN')?'admin_home':'student_home') }}">
									{{"Dashboard"|trans }}
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="{{ path('app_logout') }}">{{"Logout"|trans }}</a>
							</li>
						</ul>
					{% else %}
						<a href="{{ path('app_login') }}" class="btn btn-eminence">{{"Login"|trans }}</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</nav>
