<nav class="navbar navbar-expand-lg navbar-dark ">
	<div class="container-fluid">
		<a class="navbar-brand me-5" href="{{ path('app_home') }}">
			<img src="{{ asset('logo.png') }}" alt="Logo" height="auto">
		</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav mx-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_home', {'_locale': app.request.locale}) }}#services">{{ "Services"|trans }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_home', {'_locale': app.request.locale}) }}#free-course">{{ "Free Course"|trans }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_home', {'_locale': app.request.locale}) }}#testimonials">{{ "Testimonials"|trans }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('app_home', {'_locale': app.request.locale}) }}#our-partners">{{ "Partners"|trans }}</a>
				</li>
				<li class="nav-item dropdown language">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="bi bi-globe fs-5"></i>
						{% set current_locale = {
							'en': 'English'|trans,
							'ar': 'Arabic'|trans,
							'ru': 'Russian'|trans
						} %}
						{{ current_locale[app.request.locale] }}
					</a>
					<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
						{% set locales = {
							'en': 'English'|trans,
							'ar': 'Arabic'|trans,
							'ru': 'Russian'|trans
						} %}
						{% for locale, label in locales %}
							<li>
								<a class="dropdown-item {% if app.request.locale == locale %}active{% endif %}" href="{{ path(app.request.attributes.get('_route', 'app_home'), app.request.attributes.get('_route_params', [])|merge({'_locale': locale})) }}" {% if app.request.locale == locale %} aria-current="true" {% endif %}>
									{{ label }}
								</a>
							</li>
						{% endfor %}
					</ul>
				</li>
			</ul>

			<div class="d-flex ms-5">
				<div style="position: relative;">
					{% if app.user %}
						{# <a href="{{ path('app_login') }}" class=" btn btn-eminence"></a> #}
						<a class="nav-link dropdown-toggle btn btn-eminence" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							{{ app.user.name }}
						</a>
						<ul class="dropdown-menu" aria-labelledby="userDropdown">
							{% if is_granted('ROLE_ADMIN') %}
								<li>
									<a class="dropdown-item" href="{{ path('admin_home') }}">
										{{ "Admin Dashboard"|trans }}
									</a>
								</li>
							{% endif %}
							{% if is_granted('ROLE_STUDENT') %}
								<li>
									<a class="dropdown-item" href="{{ path('student_home') }}">
										{{ "Student Dashboard"|trans }}
									</a>
								</li>
							{% endif %}
							<li>
								<a class="dropdown-item" href="{{ path('app_logout') }}">{{ "Logout"|trans }}</a>
							</li>
						</ul>
					{% else %}
						<a href="{{ path('app_login') }}" class="btn btn-eminence">{{ "Login"|trans }}</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</nav>
