{% extends 'student/base.html.twig' %}

{% block title %}Calendar
{% endblock %}

{% block body %}
	<div id="calendar" data-url="{{ path('student_calendar_api_events') }}"></div>

	<!-- Event Modal -->
	<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="eventModalLabel">Event Details</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div id="modalContent"></div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('student_calendar') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('student_calendar') }}
{% endblock %}
